
table {
    border:5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top:170px;
    margin-bottom:100px;
    border-radius:6px;;
}
#result{
    background-color: antiquewhite;
    border:2px solid black;
}
body{
    background-color: burlywood;
}
input[type="button"]:active{
    background-color:olive;
}
input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    background-color:teal;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}
@media only screen and (max-width:768px){
    table {
    border:5px solid black;
    margin-left: 35%;
    margin-right: 35%;
    margin-top:35%;
    margin-bottom:35%;
    border-radius:6px;
    width:35%;
}
